*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

	font-family:  'Oswald', sans-serif;
    /* background-image: url("../img/p08wpw9p.jpg" );
 background-size: cover;
 background-attachment: fixed; */

}
.container{
	width: 80%;
	margin: auto;
}
header{

	background-color: goldenrod;
	padding: 10px 0;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header-content .brand{
	font-size: 32px;
	text-decoration: none;
	color: white;
}

/* nav{
	display: flex;
} */
nav ul{
	display: flex;
list-style: none;
}
nav li a{
	display: block;
	color: white;
	min-width: 50px;

}
/* نموذج التسجيل
 */

/* تنسيق السله */
.products{
	width: 60%;
	margin: 10px 0;
}
 .products-item{
	display: flex;
	width:100%;
    justify-content: space-between;
 border: 1px solid black;
 
 justify-content: space-between;
}
.product-item-img{
	width:25%;
    margin-right: 10px;
    

}
.products-item .add-to-cart{


}
.product-item-action{
    flex:1;
    text-align: right;

}
.products-item-action .add-to-cart{
    display: block;
    background-color:green;
    margin-left: auto;
    color: lavender;
    border: 0;
    padding: 10px 20px;
    font-size: 14px;
}


.products-item-action .favorite {
    cursor: pointer;

}