*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

	font-family:  'Oswald', sans-serif;
	background-color:whitesmoke;

 /* background-image: url("../img/image.jpg" );
 background-size: cover;
 background-attachment: fixed; */

}
.container{
	width: 80%;
	margin: auto;
}
header{

	background-color: goldenrod;
	padding: 10px 0;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header-content .brand{
	font-size: 32px;
	text-decoration: none;
	color: white;
}

/* nav{
	display: flex;
} */
nav ul{
	display: flex;
list-style: none;
}
nav li a{
	display: block;
	color: white;
	min-width: 50px;

}
/* نموذج التسجيل
 */
.section-form{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.section-form h2{
	font-size: 50px;
	letter-spacing: 2px;
	color: goldenrod;
}

.section-form {
	background: gray;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 60%;
	text-align: center;
	padding: 40px;
}
.section-form form input{
	display: block;
	width: 100%;
	margin: 5px 0;
	height: 40px;
	border: 1px solid white;
	padding: 5px;
	
}
.section-form form input[type=submit]{
	font-size: 25px;
	height: auto;
	cursor: pointer;
}
.section-form  form input [type=submit]:hover{
	opacity: 0.8;
}
.card{
	background-color: whitesmoke;
	border-radius: 10px;
}