
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:   cursive;
    background-image: url("../img/p08wpw9p.jpg" );
 background-size: cover;
 background-attachment: fixed;
 color:whitesmoke;

}

.container{
	width: 80%;
	margin: auto;

}
header{

	background-color:goldenrod;
	padding: 10px 0;
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header-content .brand{
	font-size: 32px;
	text-decoration: none;
	color: white;
}

/* nav{
	display: flex;
} */
nav ul{
	display: flex;
list-style: none;

}
nav li a{
	display: block;
	color: white;
	min-width: 80px;

}

.d1{
	width: 100%;
	height: 400;
	background-color:white

}
.d1 .img{
	border-radius: 20px;
}
.top-text{
	margin-top: 20px;
	margin-left: 40px;
	padding-top: 40px;
}

.card{
	color: black;
	background-color:whitesmoke;
	border: none;
	width: 100%;
	height:400;
	border-radius: 20px;
}
 .card-body{
	height:200px;
}
.carousel-item{
	color: whitesmoke;
}

.sh1{
	color: darkgoldenrod;
}

.pp{
	color: white;
	font-size: 40px;
}
.sh{
	color: white;
	font-size: 40px;
}

/* هنا سويت تعديل صفحة التسجيل  */
nav ul#user_info{
	display: none;
}



.carousel-caption .d-none .d-md-block{
	color: white;
}